.action-page {
    .filter-app {
        width: 100% !important;
        .app-header {
            border-bottom: none !important;
            .app-header-top {
                .btn-product-add, .btn-product-update {
                    width: 190px;
                }
                .cs-btn-group {
                    display: inline-block;
                    .cs-btn-icon {
                        display: block;
                        margin: 0;
                    }
                    label {
                        display: block;
                        text-align: center;
                        font-size: 12px;
                        margin-top: 5px;
                        font-weight: 600;
                    }
                }
            }
            .app-header-bottom {
                margin: 0;
                .badge {
                    position: relative;
                    display: flex;
                    width: 200px;
                    height: 50px;
                    border-radius: 9px;
                    color: #ffffff;
                    padding: 10px;
                    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3); 
                    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
                    &.badge-primary {
                        background-color: #7ABCFF;
                        .bubble {
                            color: #7ABCFF;
                        }
                    }
                    &.badge-warnning {
                        background-color: #DF974F;
                        .bubble {
                            color: #DF974F;
                        }
                    }
                    &.badge-danger {
                        background-color: #C56D6D;
                        .bubble {
                            color: #C56D6D;
                        }
                    }
                    &.badge-success {
                        background-color: #59A44F;
                        .bubble {
                            color: #59A44F;
                        }
                    }
                    &.badge-secondary {
                        background-color: #78849E;
                        .bubble {
                            color: #78849E;
                        }
                    }
                    .bubble {
                        position: relative;
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                        background-color: #ffffff;
                        font-size: 18px;
                        padding: 5px 0;
                        text-align: center;
                    }
                    .text {
                        position: relative;
                        display: block;
                        width: calc(100% - 30px);
                        text-align: center;
                        font-size: 16px;
                        padding: 5px 0;
                    }
                }
            }
        }
        .app-body {
            table {
                thead {
                    background-color: #7ABCFF;
                    tr {
                        &.bg-dark {
                            background-color: #78849E !important;
                            border: solid 1px #707070;
                            -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.16); 
                            box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.16);
                            th {
                                padding: 15px 3px 5px;
                            }
                            .action-filter {
                                position: relative;
                                display: block;
                                width: 35px;
                                height: 35px;
                                right: 50px;
                                .cs-icon {
                                    top: 8px;
                                    right: 8px;
                                }
                            }
                        }
                        th {
                            position: relative;
                            color: #ffffff;
                            text-align: center;
                            &:first-child {
                                .cs-checkbox-container {
                                    margin-top: 0;
                                    position: relative;
                                    top: 5px;
                                }
                            }
                            .cs-icon {
                                position: absolute;
                                top: 15px;
                                right: 15px;
                            }
                            .cs-btn-icon {
                                position: absolute;
                                left: 10px;
                                top: 10px;
                                width: 20px;
                                height: 20px;
                                margin: 0;
                                opacity: 1;
                            }
                            a {
                                color: #485272;
                                &:hover {
                                    color: #001553;
                                }
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            position: relative;
                            padding: 5px 10px;
                            text-align: center;
                            .cs-icon {
                                position: absolute;
                                top: 15px;
                                right: 15px;
                            }
                            &:first-child {
                                padding-right: 0;
                                padding-left: 0;
                                .action-control {
                                    position: relative;
                                    display: block;
                                    width: 50px;
                                    height: 40px;
                                    padding: 10px 15px;
                                    border: none !important;
                                    &.shown {
                                        .ic-collapse-pm {
                                            background-image: url(../img/icons/ic_minus_blue.png);
                                        }
                                    }
                                    .cs-icon {
                                        position: absolute;
                                        width: 15px;
                                        height: 15px;
                                        &.ic-collapse-pm {
                                            background-image: url(../img/icons/ic_plus_blue.png);
                                        }
                                    }
                                    .cs-checkbox-container {
                                        margin-top: 2px;
                                    }
                                    .bubble {
                                        position: absolute;
                                        width: 20px;
                                        height: 20px;
                                        top: 3px;
                                        right: 3px;
                                        border-radius: 20px;
                                        line-height: 18px;
                                        font-size: 14px;
                                        border: solid 1px #F4F7F8;
                                        &.bubble-gray {
                                            background-color: #78849E;
                                            color: #ffffff;
                                        }
                                    }
                                }
                                .btn-remove {
                                    position: relative;
                                    display: block;
                                    width: 40px;
                                    height: 40px;
                                    border-left: solid 1px #BFC5D2;
                                    .cs-icon {
                                        position: relative;
                                        top: 10px;
                                        right: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .badge {
                    padding: 10px 20px;
                    border-radius: 10px;
                    font-weight: normal;
                    height: 38px;
                    border: solid 2px #E9E9E9;
                    &.badge-red {
                        background-color: #DE0101;
                        color: #ffffff;
                    }
                    &.badge-blue {
                        background-color: #7ABCFF;
                        color: #ffffff;
                    }
                    &.badge-yellow {
                        background-color: #ECC528;
                        color: #ffffff;
                    }
                }
                .cs-checkbox-container {
                    height: 20px;
                    line-height: 20px;
                    [type=checkbox] {
                        width: 20px;
                        height: 20px;
                    }
                    .checkmark {
                        width: 20px;
                        height: 20px;
                        border-radius: 4px;
                        &:after {
                            right: 4px;
                            top: 1px;
                            width: 8px;
                            height: 12px;
                        }
                    }
                }
            }
            .search-result {
                position: absolute;
                color: #1a70c6;
            }
        }
    }
}
#CRMreminderModal {
    .modal-dialog {
        width: 740px !important;
        .btn-update-green {
            display: block;
            width: 130px;
        }
        .attach {
            display: inline-flex;
            .ic-attach-file {
                position: relative;
                top: 3px;
            }
            .dropdown {
                .dropdown-toggle {
                    border: none;
                    background-color: transparent;
                    color: #7ABCFF;
                    width: 30px;
                    height: 30px;
                    border-radius: 30px;
                    padding-bottom: 5px;
                    &:after {
                        display: none;
                    }
                    &:hover {
                        background-color: #7ABCFF;
                        color: #ffffff;
                    }
                }
                .dropdown-menu {
                    .dropdown-item {
                        text-align: right;
                    }
                }
            }
        }
        .text-editor {
            position: relative;
            display: block;
            width: 100%;
            height: 250px;
            background-color: #ffffff;
            .editor-header {
                position: absolute;
                z-index: 1000;
                top: 0px;
                left: 0px;
                width: 100%;
                padding: 20px;
                display: flex;
                .dropdown {
                    .dropdown-toggle {
                        border: none;
                        z-index: 10000;
                        &:after {
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        top: -30px !important;
                        right: 5px;
                        padding-top: 30px;
                        padding-bottom: 15px;
                        border-radius: 10px;
                        border-top-right-radius: 5px;
                        min-width: 130px;
                        .dropdown-item {
                            display: flex;
                            padding: 10px 20px;
                            .cs-icon {
                                // position: absolute;
                                // right: 20px;
                            }
                            .link-text {
                                margin-right: 30px;
                            }
                        }
                    }
                }
            }
            .textarea-edit {
                position: absolute;
                bottom: 0px;
                left: 0px;
                border: 1px solid #CCCCCC;
                border-radius: 10px;
                width: 100%;
                height: 250px;
                background-color: #ffffff;
                padding: 80px 20px 20px 20px;
                &:hover, &:focus {
                    border: 1px solid #CCCCCC;
                    border-radius: 10px;
                    width: 100%;
                    height: 250px;
                    outline: none;
                }
            }
        }
    }
}
