body {
    background-color: #F4F7F8;
}
.header-top {
    background-color: #F4F7F8;
    color: #393a3a;
}
.header-nav {
    background-color: #485272;
    color: #D7D9E0;
}
.header-logo {
    background-color: #78849E;
    color: #FFFFFF;
}