@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/mdbootstrap/scss/mdb-free";

body {
    background-color: #F4F7F8;
    .header {
        .header-top {
            background-color: #F4F7F8;
            color: #393a3a;
            text-align: right;
            height: 75px;
            .dropdown {
                .dropdown-toggle {
                    display: inline-flex;
                    margin-top: 20px;
                    margin-right: 30px;
                    font-weight: bold;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    &::after {
                        display: none;
                    }
                    .avatar-container {
                        padding-left: 10px;
                    }
                }
            }
        }
        .header-nav {
            background-color: #485272;
            color: #D7D9E0;
            height: 80px;
            nav {
                height: 100%;
                .header-logo {
                    position: relative;
                    width: 324px;
                    background-color: #78849E;
                    color: #FFFFFF;
                    display: grid;
                    height: 100%;
                    .logo-text {
                        font-size: 36px;
                        color: #FFFFFF;
                        margin: auto;
                    }
                }
                ul {
                    display: inline-flex;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        a {
                            display: block;
                            padding: 20px 60px;
                            font-size: 26px;
                            color: #FFFFFF;
                        }
                        &.active {
                            background-color: #1A70C6;
                            a {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        direction: rtl;
        text-align: right;
        .sidebar {
            position: fixed;
            width: 324px;
            height: calc(100% - 150px);
            background-color: #FFFFFF;
            overflow: auto;
            -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
            z-index: 10;
            ul {
                list-style: none;
                padding: 0px;
                li {
                    position: relative;
                    height: 68px;
                    width: 100%;
                    padding-top: 15px;
                    padding-right: 125px;
                    a {
                        font-size: 24px;
                        color: #485272;
                        .cs-icon {
                            position: absolute;
                            right: 60px;
                            top: 25px;
                        }
                    }
                    &.active {
                        background-color: #485272;
                        a {
                            font-weight: bold;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .side-nav {
                li {
                    /* sidebar icon */
                    .cs-icon {
                        &.ic-folder-shared {
                            background-image: url(../img/icons/ic_folder_shared.png);
                        }
                        &.ic-build {
                            background-image: url(../img/icons/ic_build.png);
                        }
                        &.ic-equalizer {
                            background-image: url(../img/icons/ic_equalizer.png);
                        }
                        &.ic-donut-small {
                            background-image: url(../img/icons/ic_donut_small.png);
                        }
                        &.ic-lightbulb-outline {
                            background-image: url(../img/icons/ic_lightbulb_outline.png);
                        }
                        &.ic-insert-drive-file {
                            background-image: url(../img/icons/ic_insert_drive_file.png);
                        }
                        &.ic-description {
                            background-image: url(../img/icons/ic_description.png);
                        }
                        &.ic-settings-input-component {
                            background-image: url(../img/icons/ic_settings_input_component.png);
                        }
                        &.ic-customer-preferences {
                            background-image: url(../img/icons/ic_customer_preferences.png);
                        }
                        &.ic-trending-up {
                            background-image: url(../img/icons/ic_trending_up.png);
                        }
                        &.ic-work-cost {
                            background-image: url(../img/icons/ic_work_cost.png);
                        }
                        &.ic-supervisor-account {
                            background-image: url(../img/icons/ic_supervisor_account.png);
                        }
                        &.ic-insurance {
                            background-image: url(../img/icons/ic_insurance.png);
                        }
                    }
                    
                    /* actived sidebar icon */
                    &.active {
                        .cs-icon {
                            &.ic-folder-shared {
                                background-image: url(../img/icons/ic_folder_shared_white.png);
                            }
                            &.ic-build {
                                background-image: url(../img/icons/ic_build_white.png);
                            }
                            &.ic-equalizer {
                                background-image: url(../img/icons/ic_equalizer_white.png);
                            }
                            &.ic-donut-small {
                                background-image: url(../img/icons/ic_donut_small_white.png);
                            }
                            &.ic-lightbulb-outline {
                                background-image: url(../img/icons/ic_lightbulb_outline_white.png);
                            }
                            &.ic-insert-drive-file {
                                background-image: url(../img/icons/ic_insert_drive_file_white.png);
                            }
                            &.ic-description {
                                background-image: url(../img/icons/ic_description_white.png);
                            }
                            &.ic-settings-input-component {
                                background-image: url(../img/icons/ic_settings_input_component_white.png);
                            }
                            &.ic-customer-preferences {
                                background-image: url(../img/icons/ic_customer_preferences_white.png);
                            }
                            &.ic-trending-up {
                                background-image: url(../img/icons/ic_trending_up_white.png);
                            }
                            &.ic-work-cost {
                                background-image: url(../img/icons/ic_work_cost_white.png);
                            }
                            &.ic-supervisor-account {
                                background-image: url(../img/icons/ic_supervisor_account_white.png);
                            }
                            &.ic-insurance {
                                background-image: url(../img/icons/ic_insurance_white.png);
                            }
                        }
                    }
                }
            }
        }

        .app {
            position: fixed;
            width: 100%;
            padding-right: 324px;
            height: calc(100% - 150px);
            overflow: auto;
            .app-header {
                padding: 30px;
                .app-header-top {
                    padding: 10px 0;
                    .title {
                        font-size: 35px;
                        font-weight: 500;
                    }
                    .cs-btn-img {
                        float: left;
                        &:first-child {
                            margin-left: 0px;
                        }
                    }
                }
                .app-header-bottom {
                    padding: 20px 0 0 0;
                    .card {
                        height: 100%;
                        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
                        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                        .card-header {
                            height: 28px;
                            background-color: #0288D1;
                            padding: 5px 20px 5px 10px;
                            &.header-green {
                                background-color: #21D102;
                            }
                            .cs-icon {
                                font-size: 18px;
                                height: 18px;
                            }
                        }
                        .card-body {
                            position: relative;
                            font-size: 20px;
                            .action-group {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                display: grid;
                                width: 40px;
                                height: 100%;
                                .btn-action {
                                    padding: 13px 10px;
                                }
                            }
                            .label {
                                font-size: 20px;
                                text-align: center;
                            }
                            .value {
                                font-size: 27px;
                                font-weight: bold;
                                text-align: center;
                                color: #1E87F0;
                            }
                            .chart-group {
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                .label {
                                    font-size: 14px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .app-body {
                .app-tab {
                    padding: 0 30px 30px 30px;
                    .nav-tabs {
                        border-bottom: solid 17px #7ABBFC;
                        height: 86px;
                        .nav-link {
                            color: #485272;
                            font-size: 20px;
                            padding: 19px;
                            /* tab nav icons css */
                            .cs-icon {
                                margin-left: 10px;
                                &.ic-user {
                                    background-image: url(../img/icons/ic_user_blue.png);
                                }
                                &.ic-call {
                                    background-image: url(../img/icons/ic_call_blue.png);
                                }
                                &.ic-assignment {
                                    background-image: url(../img/icons/ic_assignment_blue.png);
                                }
                                &.ic-group {
                                    background-image: url(../img/icons/ic_group_blue.png);
                                }
                                &.ic-person-add {
                                    background-image: url(../img/icons/ic_person_add_blue.png);
                                }
                                &.ic-account-balance-wallet {
                                    background-image: url(../img/icons/ic_account_balance_wallet_blue.png);
                                }
                                &.ic-healing {
                                    background-image: url(../img/icons/ic_healing_blue.png);
                                }
                                &.ic-store {
                                    background-image: url(../img/icons/ic_store_blue.png);
                                }
                                &.ic-group-add {
                                    background-image: url(../img/icons/ic_group_add_blue.png);
                                }
                                
                                &.ic-work {
                                    background-image: url(../img/icons/ic_work_blue.png);
                                }
                                &.ic-view-column {
                                    background-image: url(../img/icons/ic_view_column_blue.png);
                                }
                                &.ic-donut-small {
                                    background-image: url(../img/icons/ic_donut_small_blue.png);
                                }
                                &.ic-autorenew {
                                    background-image: url(../img/icons/ic_autorenew_white.png);
                                }
                            }
                            &.active {
                                background-color: #7ABBFC;
                                border: 0;
                                color: #FFFFFF;
                                font-weight: bold;
                                border-top-left-radius: 0.5rem;
                                border-top-right-radius: 0.5rem;
                                /* tab nav icons css */
                                .cs-icon {
                                    &.ic-user {
                                        background-image: url(../img/icons/ic_user_white.png);
                                    }
                                    &.ic-call {
                                        background-image: url(../img/icons/ic_call_white.png);
                                    }
                                    &.ic-assignment {
                                        background-image: url(../img/icons/ic_assignment_white.png);
                                    }
                                    &.ic-group {
                                        background-image: url(../img/icons/ic_group_white.png);
                                    }
                                    &.ic-person-add {
                                        background-image: url(../img/icons/ic_person_add_white.png);
                                    }
                                    &.ic-account-balance-wallet {
                                        background-image: url(../img/icons/ic_account_balance_wallet_white.png);
                                    }
                                    &.ic-healing {
                                        background-image: url(../img/icons/ic_healing_white.png);
                                    }
                                    &.ic-store {
                                        background-image: url(../img/icons/ic_store_white.png);
                                    }
                                    &.ic-group-add {
                                        background-image: url(../img/icons/ic_group_add_white.png);
                                    }

                                    &.ic-work {
                                        background-image: url(../img/icons/ic_work_white.png);
                                    }
                                    &.ic-view-column {
                                        background-image: url(../img/icons/ic_view_column_white.png);
                                    }
                                    &.ic-donut-small {
                                        background-image: url(../img/icons/ic_donut_small_white.png);
                                    }
                                    &.ic-autorenew {
                                        background-image: url(../img/icons/ic_autorenew_white.png);
                                    }
                                }
                            }
                            &:hover {
                                border: 0;
                            }
                        }
                    }
                    .tab-content {
                        .tab-pane {
                            background-color: #FFFFFF;
                            padding: 25px;
                            -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
                            box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                            form {
                                .row {
                                    margin-bottom: 35px;
                                    .form-group {
                                        label {
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: #7ABBFC;
                                        }
                                        .form-control {
                                            height: 50px;
                                            max-width: 300px;
                                            border-radius: 0.25rem !important;
                                        }
                                        .gj-datepicker {
                                            .input-group-append {
                                                position: absolute;
                                                right: 260px;
                                                top: 0px;
                                                height: 100%;
                                                z-index: 10;
                                                .btn {
                                                    border: 0;
                                                    color: #7ABBFC;
                                                    .gj-icon {
                                                        top: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &.form-employer {
                                    .button-group {
                                        position: absolute;
                                        width: 100%;
                                        bottom: 0px;
                                        .form-control {
                                            border: 0;
                                            label {
                                                position: relative;
                                                top: -20px;
                                                left: 20px;
                                            }
                                        }
                                    }
                                }
                                &.form-partner, 
                                &.form-bank-account,
                                &.form-medical-details {
                                    .lcs_wrap {
                                        width: 100%;
                                        margin-top: 5px;
                                        .lcs_switch {
                                            &.lcs_on {
                                                background-color: #7ABBFC;
                                                box-shadow: 0 0 2px #7ABBFC inset;
                                            }
                                        }
                                    }
                                    .col-xl-6 {
                                        .form-control {
                                            max-width: 678px;
                                        }
                                    }
                                    .col-xl-9 {
                                        .form-control {
                                            max-width: 1054px;
                                        }
                                    }
                                }
                            }
                            .customer-table {
                                width: 100%;
                                thead {
                                    tr {
                                        th {
                                            text-align: center;
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: #7ABBFC;
                                            &:last-child {
                                                text-align: left;
                                            }
                                        }
                                    }
                                }
                                tbody {
                                    tr {
                                        border-top: solid 2px #BFC5D2;
                                        td {
                                            text-align: center;
                                            font-size: 18px;
                                            padding: 20px 0;
                                            &:last-child {
                                                text-align: left;
                                                display: inline-flex;
                                                width: 100% !important;
                                                justify-content: flex-end;
                                            }
                                            .btn-icon {
                                                width: 55px;
                                                height: 40px;
                                                display: inline-block;
                                                padding: 10px 17px;
                                                border-right: solid 1px #BFC5D2;
                                            }
                                        }
                                    }
                                }
                                &.relatives-table {
                                    thead {
                                        tr {
                                            th {
                                                width: 14%;
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            border-top: solid 2px #BFC5D2;
                                            td {
                                                width: 14%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // filter app css
        .filter-bar {
            position: fixed;
            width: 75px;
            height: calc(100% - 150px);
            overflow: auto;
            -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
            background-color: #D7DDE9;
            z-index: 10;
            transition: width 0.45s;
            .filter-button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                &.filter-toggle {
                    position: absolute;
                    left: 15px;
                    top: 35px;
                    background-color: #1A70C6;
                    border: none;
                    padding: 15px;
                    &:hover {
                        background-color: #78849E;
                    }
                }
            }
        }
        
        .filter-app {
            position: fixed;
            width: 100%;
            height: calc(100% - 150px);
            overflow: auto;
            padding-right: 154px;
            padding-left: 75px;
            transition: padding-right 0.45s;
            .app-header {
                width: 100%;
                height: 189px;
                -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
                box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                padding: 30px;
                margin-bottom: 20px;
                .app-header-top {
                    margin-bottom: 25px;
                    .title {
                        font-size: 35px;
                        font-weight: bold;
                    }
                }
                .app-header-bottom {
                    .select-sort-by {
                        max-width: 300px;
                        height: 50px;
                        border-radius: 10px;
                        margin-left: 40px;
                    }
                    .input-search-wrapper {
                        position: relative;
                        max-width: 652px;
                        width: 100%;
                        .input-search {
                            width: 100%;
                            height: 50px;
                            border-radius: 10px;
                            padding-left: 45px;
                        }
                        .input-icon {
                            position: absolute;
                            top: 18px;
                            left: 20px;
                        }
                    }
                }
            }
            .app-body {
                width: 100%;
                .app-filter-tags {
                    position: relative;
                    display: inline-block;
                    padding: 10px;
                    .filter-tag {
                        position: relative;
                        display: inline-block;
                        width: 150px;
                        height: 30px;
                        border-radius: 15px;
                        background-color: #BFC5D2;
                        color: #FFFFFF;
                        text-align: center;
                        font-size: 13px;
                        padding: 5px;
                        margin: 10px;
                        .cs-icon {
                            position: absolute;
                            top: 11px;
                            left: 20px;
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
                .app-card-list {
                    .card {
                        margin-bottom: 38px;
                        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
                        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                        .card-header {
                            background-color: #0288D1;
                            height: 48px;
                        }
                        .card-body {
                            font-size: 20px;
                            line-height: 29px;
                            font-weight: 500;
                            .cs-icon {
                                margin-left: 20px;
                            }
                            .btn-action {
                                position: absolute;
                                left: 0px;
                            }
                        }
                        .card-footer {
                            font-size: 14px;
                            font-weight: 500;
                            height: 44px;
                            background-color: #F4F7F8;
                        }
                    }
                }
            }
        }

        .open-show {
            display: none;
        }

        &.open-filter {
            .open-show {
                display: block;
            }
            .filter-bar {
                width: 370px;
                transition: width 0.45s;
                .filter-header {
                    .filter-button {
                        position: absolute;
                        border: 0;
                        padding: 15px;
                        &.filter-settings {
                            top: 35px;
                            left: 90px;
                        }
                        &.filter-close {
                            top: 15px;
                            right: 23px;
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                .filter-body {
                    margin-top: 100px;
                    padding: 25px;
                    overflow: auto;
                    .filter-form, .settings-form {
                        font-size: 18px;
                        line-height: 27px;
                        color: #485272;
                        display: none;
                        &.open {
                            display: block;
                        }
                        .name-wrapper {
                            .row {
                                padding: 15px 0;
                                border-bottom: solid 1px #EDEEF1;
                            }
                        }
                        .gender-group {
                            .female-checkbox {
                                margin-right: 50px;
                            }
                        }
                        .company-checkbox, 
                        .customer-type-checkbox, 
                        .product-type-checkbox, 
                        .caring-staff-checkbox, 
                        .agent-therapist-checkbox, 
                        .family-status-checkbox, 
                        .type-deals-checkbox, 
                        .status-checkbox {
                            padding: 5px 0;
                            label {
                                font-size: 14px;
                            }
                        }
                        .settings-checkbox {
                            padding: 15px 0;
                            border-bottom: solid 1px #EDEEF1;
                            label {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .filter-app {
                padding-right: 375px;
                transition: padding-right 0.45s;
            }
        }
    }
}

.cs-btn-icon {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    margin-left: 20px;
    &.btn-exit {
        background-image: url(../img/buttons/btn-exit.png);
        &:hover {
            background-image: url(../img/buttons/btn-exit-hover.png);
        }
    }
    &.btn-xls {
        background-image: url(../img/buttons/btn-xls.png);
        &:hover {
            background-image: url(../img/buttons/btn-xls-hover.png);
        }
    }
    &.btn-print {
        background-image: url(../img/buttons/btn-print.png);
        &:hover {
            background-image: url(../img/buttons/btn-print-hover.png);
        }
    }
    &.btn-close {
        background-image: url(../img/buttons/btn-close.png);
        &:hover {
            background-image: url(../img/buttons/btn-close.png);
        }
    }
    &.btn-add {
        background-image: url(../img/buttons/btn-add.png);
    }
}

.cs-btn-img {
    position: relative;
    display: inline-flex;
    width: 169px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    margin-left: 20px;
    &.btn-new-customer {
        background-image: url(../img/buttons/btn-new-customer.png);
    }
    &.btn-save {
        background-image: url(../img/buttons/btn-save.png);
    }
    &.btn-questionnaire {
        background-image: url(../img/buttons/btn-questionnaire.png);
    }
    &.btn-back {
        background-image: url(../img/buttons/btn-back.png);
    }
    &.btn-options {
        background-image: url(../img/buttons/btn-options.png);
    }
}

.cs-icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* sidebar icon */
    &.ic-folder-shared {
        background-image: url(../img/icons/ic_folder_shared.png);
    }
    &.ic-build {
        background-image: url(../img/icons/ic_build.png);
    }
    &.ic-equalizer {
        background-image: url(../img/icons/ic_equalizer.png);
    }
    &.ic-donut-small {
        background-image: url(../img/icons/ic_donut_small.png);
    }
    &.ic-lightbulb-outline {
        background-image: url(../img/icons/ic_lightbulb_outline.png);
    }
    &.ic-insert-drive-file {
        background-image: url(../img/icons/ic_insert_drive_file.png);
    }
    &.ic-description {
        background-image: url(../img/icons/ic_description.png);
    }
    &.ic-settings-input-component {
        background-image: url(../img/icons/ic_settings_input_component.png);
    }
    &.ic-customer-preferences {
        background-image: url(../img/icons/ic_customer_preferences.png);
    }
    &.ic-trending-up {
        background-image: url(../img/icons/ic_trending_up.png);
    }
    &.ic-work-cost {
        background-image: url(../img/icons/ic_work_cost.png);
    }
    &.ic-supervisor-account {
        background-image: url(../img/icons/ic_supervisor_account.png);
    }
    &.ic-insurance {
        background-image: url(../img/icons/ic_insurance.png);
    }
    &.ic-filter-result {
        background-image: url(../img/icons/ic_filter_result.png);
    }
    &.ic-exit {
        background-image: url(../img/icons/ic_exit.png);
    }
    &.ic-times {
        background-image: url(../img/icons/ic_times.png);
    }
    &.ic-square {
        background-image: url(../img/icons/ic_square.png);
    }
    &.ic-pencil {
        background-image: url(../img/icons/ic_pencil.png);
    }
    &.ic-female {
        background-image: url(../img/icons/ic_female.png);
    }
    &.ic-male {
        background-image: url(../img/icons/ic_male.png);
    }
    &.ic-call {
        background-image: url(../img/icons/ic_call.png);
    }
    &.ic-folder-shared-gray {
        background-image: url(../img/icons/ic_folder_shared_gray.png);
    }
    &.ic-sms {
        background-image: url(../img/icons/ic_sms.png);
    }
    &.ic-chrome-reader {
        background-image: url(../img/icons/ic_chrome_reader.png);
    }
    &.ic-room {
        background-image: url(../img/icons/ic_room.png);
    }
    &.ic-people {
        background-image: url(../img/icons/ic_people.png);
    }
    &.ic-class {
        background-image: url(../img/icons/ic_class.png);
    }
    &.ic-group {
        background-image: url(../img/icons/ic_group.png);
    }
    &.ic-record-voice {
        background-image: url(../img/icons/ic_record_voice.png);
    }
    &.ic-email {
        background-image: url(../img/icons/ic_email.png);
    }
    &.ic-account-balance-wallet {
        background-image: url(../img/icons/ic_account_balance_wallet.png);
    }
    &.ic-trash {
        background-image: url(../img/icons/ic_trash.png);
    }
    &.ic-settings {
        background-image: url(../img/icons/ic_settings_blue.png);
    }
    &.ic-trash-white {
        background-image: url(../img/icons/ic_trash_white.png);
    }
    &.ic-person-add {
        background-image: url(../img/icons/ic_person_add.png);
    }
    &.ic-email-blue {
        background-image: url(../img/icons/ic_email_blue.png);
    }
    /* tab nav icons css */
    &.ic-user-blue {
        background-image: url(../img/icons/ic_user_blue.png);
    }
    &.ic-call-blue {
        background-image: url(../img/icons/ic_call_blue.png);
    }
    &.ic-assignment-blue {
        background-image: url(../img/icons/ic_assignment_blue.png);
    }
    &.ic-group-blue {
        background-image: url(../img/icons/ic_group_blue.png);
    }
    &.ic-person-add-blue {
        background-image: url(../img/icons/ic_person_add_blue.png);
    }
    &.ic-account-balance-wallet-blue {
        background-image: url(../img/icons/ic_account_balance_wallet_blue.png);
    }
    &.ic-healing-blue {
        background-image: url(../img/icons/ic_healing_blue.png);
    }
    &.ic-store-blue {
        background-image: url(../img/icons/ic_store_blue.png);
    }
    &.ic-group-add-blue {
        background-image: url(../img/icons/ic_group_add_blue.png);
    }
    &.ic-trash-blue {
        background-image: url(../img/icons/ic_trash_blue.png);
    }
    &.ic-pencil-blue {
        background-image: url(../img/icons/ic_pencil_blue.png);
    }
    &.ic-times-outline-red {
        background-image: url(../img/icons/ic_times_outline_red.png);
    }
    &.ic-checked-outline-green {
        background-image: url(../img/icons/ic_checked_outline_green.png);
    }
    &.ic-info-outline-blue {
        background-image: url(../img/icons/ic_info_outline_blue.png);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bfc5d2; 
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #78849e; 
}

button:focus {
    outline: none;
    box-shadow: none;
}

.border-left-primary {
    border-left: solid 2px #1A70C6;
}

.justify-content-flex-end {
    justify-content: flex-end;
}
.custom-control-label {
    &.checkbox-right {
        padding-right: 30px;
        &::before, &::after {
            top: 6px;
            right: 0px;
        }
    }
    &.checkbox-left {
        width: 100%;
        &::before, &::after {
            left: 0px;
        }
    }
}

/* Modal Custom CSS */
.modal-open {
    .modal {
        background-color: #BFC5D2;
        .modal-dialog {
            position: fixed;
            top: 0px;
            left: 0px;
            margin: 0px;
            height: 100%;
            max-width: 100%;
            overflow: auto;
            .modal-content {
                min-height: 100%;
                background-color: #F4F6FC;
                border-radius: 0px;
                border-top: 0;
                border-bottom: 0;
                border-left: 0;
                border-right: solid 16px #7ABBFC;
                -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
                box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                .modal-header {
                    height: 80px;
                    border-bottom: 0;
                    button.close {
                        width: 32px;
                        height: 32px;
                        top: 25px;
                        right: 60px;
                    }
                }
                .modal-body {
                    padding: 30px 50px 30px 30px;
                    .form-group {
                        margin-bottom: 60px;
                        text-align: right;
                        label {
                            font-size: 18px;
                            font-weight: bold;
                            font-family: "Heebo";
                            color: #7ABBFC;
                            text-align: right;
                        }
                        .form-control {
                            height: 50px;
                            width: 298px;
                            max-width: 298px;
                        }
                    }
                    .col-xl-9 {
                        .form-control {
                            max-width: 963px;
                            width: 100%;
                            height: 136px;
                        }
                    }
                }
                .modal-footer {
                    border-top: 0;
                    text-align: right;
                    justify-content: flex-start;
                    padding: 30px 50px 60px 30px;
                }
            }
        }
    }
}

#relativesEditModal {
    .lcs_wrap {
        width: 100%;
        margin-top: 10px;
        .lcs_switch {
            &.lcs_on {
                background: #7ABBFC;
                box-shadow: 0 0 2px #7ABBFC inset;
            }
        }
    }
}

#relatedBusinessAddModal {
    .modal-body {
        .col-xl-12 {
            .form-control {
                max-width: 630px;
                width: 100%;
            }
        }
    }
}

#contactsAddModal {
    .modal-body, .modal-footer {
        margin-right: 170px;
        margin-left: 75px;
    }
}

/* datepicker css custom */

.gj-datepicker {
    .input-group-append {
        position: absolute;
        right: 260px;
        top: 0px;
        height: 100%;
        z-index: 10;
        .btn {
            border: 0;
            color: #7ABBFC;
            .gj-icon {
                top: 15px;
            }
        }
    }
}

// ===================Semi Donut Chart model-1========================

.semi-donut{
  --percentage: 0;
  --fill: #ff0;
  width: 120px;
  height: 60px;
  position: relative;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing : border-box;
  &:before{
    content: '';
    width: 120px;
    height: 120px;
    border:20px solid;
    border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing : border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    animation : fillAnimation 1s ease-in;
  }
//   &:after{
//     // content: attr(data-name) ;
//     content: attr(data-name);
//     counter-reset: varible var(--percentage);
//     background: var(--fill) ;
//     box-sizing : border-box;
//     border-radius : 2px;
//     color: #fff;
//     font-weight: 200;
//     font-size: 12px;
//     height: 20px;
//     padding: 3px 5px;
//     top: 0px;
//     position: absolute;
//     left: 0;
//     transform: rotate(calc( -1deg * var(--percentage) * 0 ))  translate(calc(1px * var(--percentage) * 1.5) , calc(-1px * var(--percentage) * 0));
//     // transform: rotate(calc( -1deg * var(--percentage) * 1.8 ))  translate(-30px , 0px);
//     // transition:0.2s ease-in;
//     // transform-origin: 0 50% 0;
//     opacity: 1;
//   }
}


// ======== special components css ======== //
#nav-holding-portfolio {
    padding: 0;
    .table-filter-group {
        position: relative;
        height: 44px;
        width: 100%;
        display: inline-flex;
        background-color: #D7DDE9;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
        padding: 10px 20px;
        .input-group-prepend {
            position: relative;
            width: 145px;
            margin-left: 20px;
            .dropdown-toggle {
                width: 145px;
                height: 23px;
                border-radius: 4px;
                padding: 0 10px;
                font-size: 10px;
                line-height: 20px;
                color: #4D4F5C;
                font-family: "Heebo";
                text-align: right;
                background-color: #FFFFFF;
                border: solid 1px #D7DAE2;
                -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
                box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
                &::after {
                    position: absolute;
                    left: 5px;
                    top: 10px;
                }
            }
            .dropdown-menu {
                position: absolute;
                width: 145px !important;
                min-width: 145px !important;
                padding: 0;
                right: 0px !important;
                overflow: hidden;
                .dropdown-item {
                    width: 145px;
                    margin: 0;
                    padding: 5px 10px;
                    text-align: right;
                    font-size: 10px;
                    color: #4D4F5C;
                    font-family: "Heebo";
                    input[type=checkbox] {
                        float: left;
                    }
                }
            }
        }
    }
    .pane-body {
        
    }
    .pane-footer {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: #485272;
        -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
        box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        padding: 15px;
        label {
            width: 200px;
        }
    }
}

.dataTables_wrapper {
    .row:last-child {
        display: none;
    }
    tr {
        th {
            padding-top: 19px;
            padding-bottom: 19px;
            font-size: 16px;
            font-weight: bold;
            color: #7ABBFC;
        }
        td {
            padding-top: 19px;
            padding-bottom: 19px;
            font-size: 16px;
            color: #485272;
            &:last-child {
                display: flex;
                span {
                    margin-left: 10px;
                }
                .btn-view-detail {
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 27px;
                    border-right: solid 1px #BFC5D2;
                    text-align: center;
                    margin-right: auto;
                    .cs-icon {
                        width: 27px;
                        height: 27px;
                    }
                }
            }
        }
    }
}

#nav-holdings-portfolio-by-group {
    padding: 0;
    .collapse-container {
        width: 100%;
        .collapse-item {
            .collapse-header {
                position: relative;
                display: flex;
                width: 100%;
                height: 50px;
                background-color: #485272;
                -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16); 
                box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
                padding: 12px 15px;
                margin-bottom: 2px;
                a {
                    .cs-icon {
                        width: 25px;
                        height: 25px;
                        &.ic-collapse {
                            background-image: url(../img/buttons/btn-minus.png);
                        }
                    }
                    &.collapsed {
                        .cs-icon {
                            width: 25px;
                            height: 25px;
                            &.ic-collapse {
                                background-image: url(../img/buttons/btn-plus.png);
                            }
                        }
                    }
                }
                .collapse-header-title {
                    width: 250px;
                    text-align: right;
                    font-size: 16px;
                    color: #FFFFFF;
                    font-weight: bold;
                    padding-right: 20px;
                }
                .collapse-header-subtitle {
                    text-align: right;
                    font-size: 16px;
                    color: #FFFFFF;
                    font-weight: bold;
                    padding-right: 20px;
                }
            }
            .collapse {

            }
        }
    }
}

#nav-distribution-graph {
    .donut {
        width: 100%;
        max-width: 255px;
    }
    .donut-captions {
        position: absolute;
        bottom: 10px;
        .dount-caption-icon {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 10px;
            margin-left: 20px;
            top: 3px;
            background: var(--bgColor);
            &::after {
                content: "";
                background: #FFFFFF;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 3px;
                right: 3px;
                border-radius: 50%;
                display: block;
            }
        }
    }
}

#nisCapitalMarketModal, 
#nisAlternativeProductsModal {
    .modal-dialog {
        width: 100%;
        max-width: 1380px;
        .modal-body {
            .tags-group {
                padding: 0 20px 30px 20px;
                .badge {
                    height: 44px;
                    color: #FFFFFF;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 22px;
                    padding: 10px 30px;
                    margin-left: 30px;
                    &.badge-primary {
                        background-color: #7ABBFC;
                    }
                    &.badge-gray {
                        background-color: #BFC5D2;
                    }
                }
            }
            .form-group {
                label {
                    width: 100%;
                }
            }
        }
    }
}

#nisProductsInProcessModal {
    .modal-dialog {
        width: 100%;
        max-width: 950px;
    }
}